* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.monospace {
  font-family: monospace;
}

.serif {
  font-family: 'Times New Roman', Times, serif;
}

body {
  margin: 0px;
  padding: 0px;
}

#title-bar {
  display: inline-block;
  height: 28px;
  width: 100%;
  -webkit-app-region: drag;
}

#title-bar-body {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  transition: background-color 0.5s;
  color: white;
}

#container-outer {
  display: table;
  position: absolute;
  top: 28px;
  left: 0px;
  height: calc(100% - 28px);
  width: 100%;
}

#container-middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#container-inner {
  margin-left: auto;
  margin-right: auto;
}

#action {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 400px;
  text-align: left;
}

#content-only {
  display: inline-block;
  background-color: white;
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#content {
  display: inline-block;
  background-color: white;
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: left;
}

#content>.title {
  display: block;
  font-size: 40px;
  font-weight: bold;
  padding: 15px;
  margin-left: 5px;
}

#content>.body {
  display: block;
  height: calc(100% - 140px);
  overflow-y: scroll;
  padding: 15px;
}

#content>.body::-webkit-scrollbar {
  width: 0px;
  display: hidden;
}

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.middle {
  min-width: 400px;
}

.big {
  width: calc(100vw - 300px);
  min-width: 400px;
  height: calc(100vh - 200px);
}

.form .title {
  margin: 20px 0px 40px 0px;
  height: 160px;
}

.form .field {
  margin: 10px 10px 30px 10px;
  padding: 1px 0px 1px 0px;
  background-image: linear-gradient(90deg, white, black 5%, black 95%, white);
  text-align: left;
}

.form .field .inner {
  margin: 0px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  background-image: linear-gradient(90deg, white, transparent 5%, transparent 95%, white);
}

.form .field .transition {
  transition: background-color 0.5s ease;
}

.form .field .desc {
  display: block;
  font-size: small;
  margin-bottom: 5px;
}

.form .field .value {
  display: block;
  font-size: 18px;
  transition: color 0.5s ease;
}

.form .field .inner:focus-within {
  background-color: azure;
}

.form .value-error .inner {
  background-color: pink;
}

.form .value-error .desc {
  color: red;
}

.form .value-error .inner:focus-within {
  background-color: pink;
}

.form .field .inner .value:focus {
  outline: none;
}

.form .password .inner .value {
  -webkit-text-security: disc;
}

.button {
  display: inline-block;
  border-radius: 2000px;
  padding: 13px;
  margin: 0px 10px 0px 10px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s, transform 0.1s, box-shadow 0.1s;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
}

.button .text {
  margin: 0px 5px 0px 5px;
}

.button .icon {
  width: 40px;
  height: 40px;
}

.button:hover {
  background: rgba(240, 240, 240);
}

.button:active {
  transform: translate(1px, 1px);
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.3);
}

.content-list {
  list-style: none;
  padding: 0px;
}

.content-list .item {
  margin: -1px 0px;
  padding: 1px 0px 1px 0px;
  background-image: linear-gradient(90deg, white, black 5%, black 95%, white);
  transition: transform 0.1s, box-shadow 0.1s;
}

.content-list .item:hover {
  transform: translate(-2px, -2px);
  background-image: linear-gradient(90deg, white, white);
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.3);
}

.content-list .item:active {
  transform: translate(-1px, -1px);
  background-image: linear-gradient(90deg, white, white);
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
}

.content-list .item * {
  display: block;
  overflow-x: hidden;
}

.content-list .item .inner {
  margin: 0px;
  padding: 9px 29px 9px 29px;
  background-color: white;
}

.content-list .item .title {
  margin: 3px 0px 0px 3px;
  font-size: 16px;
  font-weight: bold;
}

.content-list .item .subtitle {
  margin: 3px 0px 0px 3px;
  font-size: 14px;
}

.content-list .item .body {
  margin: 3px 0px 0px 3px;
  font-size: 12px;
  white-space: nowrap;
  font-weight: lighter;
}

@media all and (min-width: 800px) {
  
  .big {
    height: calc(100vh - 100px);
  }
  
  #action {
    width: 100px;
    min-width: 100px;
  }

  #content {
    margin-right: 50px;
  }

  .content-list .item .inner {
    padding: 9px 29px 9px 29px;
  }

  .content-list .item .inner * {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 0px 5px;
  }

  .content-list .item .title {
    width: 20%;
    max-width: 100px;
  }

  .content-list .item .subtitle {
    width: 20%;
    max-width: 150px;
  }

  .content-list .item .body {
    width: calc(60% - 48px);
  }

}

.asset-icon {
  background-image: url('../Asset/Icon.png');
}

.asset-plus {
  background-image: url('../Asset/Plus.png');
}

.asset-background {
  background: url('../Asset/Background.jpg') no-repeat center center fixed;
  background-size: cover;
}