<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="detail.js"></script>
  <link rel="stylesheet" type="text/css" href="../Style/style.css">
</head>
<body class="asset-background">
<div id="container-outer">
  <div id="container-middle">
    <div id="container-inner">
      <div class="big left" id="content">
        <span class="title serif" id="email-title"></span>
        <span class="subtitle serif" id="email-subtitle"></span>
        <div class="body serif" id="email-body"></div>
      </div>
    </div>
  </div>
</div>
<div id="loading">
  <div id="loading-middle">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
</div>
<div id="title-bar">
  <div id="title-bar-body"></div>
</div>
</body>
</html>