<!DOCTYPE html>
<html>
<head lang="ko">
  <meta charset="utf-8">
  <title>로그인</title>
  <script src="login.js"></script>
  <link rel="stylesheet" type="text/css" href="../Style/style.css">
</head>
<body>
<div id="container-outer">
  <div id="container-middle">
    <div id="container-inner">
      <div class="form" id="content">
        <div class="title icon asset-icon"></div>
        <div class="field" id="login-id">
          <div class="inner">
            <span class="desc">ID</span>
            <span spellcheck="false" contenteditable="true" class="value monospace"></span>
          </div>
        </div>
        <div class="field password" id="login-pw">
          <div class="inner">
            <span class="desc">PW</span>
            <span spellcheck="false" contenteditable="true" class="value monospace"></span>
          </div>
        </div>
        <div class="button">
          <div class="text">로그인</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>