<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="newemail.js"></script>
  <link rel="stylesheet" type="text/css" href="../Style/style.css">
</head>
<body class="asset-background" >
<div id="container-outer">
  <div id="container-middle">
    <div id="container-inner">
      <div id="action">
        <div class="button" onclick="sendEmail();">
          <div class="icon asset-send"></div>
        </div>
      </div>
      <div class="big left with-menu form" id="content">
        <span class="title">새 메일 작성하기</span>
        <div class="body">
          <div class="field" id="subject-field">
            <div class="inner">
              <span class="desc">제목</span>
              <span spellcheck="false" contenteditable="true" class="value monospace"></span>
            </div>
          </div>
          <div class="field" id="to-field">
            <div class="inner">
              <span class="desc">수신인</span>
              <span spellcheck="false" contenteditable="true" class="value monospace"></span>
            </div>
          </div>
          <div class="field" id="cc-field">
            <div class="inner">
              <span class="desc">참조 (;로 구분)</span>
              <span spellcheck="false" contenteditable="true" class="value monospace"></span>
            </div>
          </div>
          <div class="field" id="bcc-field">
            <div class="inner">
              <span class="desc">숨은 참조 (;로 구분)</span>
              <span spellcheck="false" contenteditable="true" class="value monospace"></span>
            </div>
          </div>
          <div class="field" id="content-field">
            <div class="inner">
              <span class="desc">내용</span>
              <span spellcheck="false" contenteditable="true" class="value monospace"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="loading">
  <div id="loading-middle">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
</div>
<div id="title-bar">
  <div id="title-bar-body"></div>
</div>
</body>
</html>