<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="newemail.js"></script>
  <link rel="stylesheet" type="text/css" href="../Style/style.css">
</head>
<body class="asset-background" >
<div id="container-outer">
  <div id="container-middle">
    <div id="container-inner">
      <div id="action">
        <div class="button" onclick="sendEmail();">
          <div class="icon asset-send"></div>
        </div>
      </div>
      <div class="big left with-menu" id="content">
        <span class="title">새 메일</span>
        <div class="body">
          <ul class="content-list" id="mail-list">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="loading">
  <div id="loading-middle">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
</div>
<div id="title-bar">
  <div id="title-bar-body"></div>
</div>
</body>
</html>