<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="root.js"></script>
  <link rel="stylesheet" type="text/css" href="../Style/style.css">
</head>
<body class="asset-background" >
<div id="container-outer">
  <div id="container-middle">
    <div id="container-inner">
      <div id="action">
        <div class="button" onclick="openNewEmail();">
          <div class="icon asset-plus"></div>
        </div>
        <div class="button" onclick="openTemplates();">
          <div class="icon asset-template"></div>
        </div>
      </div>
      <div class="big" id="content">
        <span class="title">메일함</span>
        <div class="body">
          <ul class="content-list" id="mail-list">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="loading">
  <div id="loading-middle">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
</div>
<div id="title-bar">
  <div id="title-bar-body"></div>
</div>
</body>
</html>