<!DOCTYPE html>
<html>
<head>
  <title>메일함</title>
  <script src="root.js"></script>
  <link rel="stylesheet" type="text/css" href="../Style/style.css">
</head>
<body class="asset-background" >
<div id="container-outer">
  <div id="container-middle">
    <div id="container-inner">
      <div id="action">
        <div class="button">
          <div class="icon asset-plus"></div>
        </div>
        <div class="button">
          <div class="icon asset-plus"></div>
        </div>
      </div>
      <div class="big" id="content">
        <span class="title">메일함</span>
        <div class="body">
          <ul class="content-list">
            <li class="item-three">
              <div class="inner">
                <span class="title">Title</span>
                <span class="subtitle">Subtitle</span>
                <span class="body">Body</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="title-bar">
  <div id="title-bar-body">Hello, world!</div>
</div>
</body>
</html>