<!DOCTYPE html>
<html>
<head>
    <title>받은 메일함</title>
    <script src="root.js"></script>
    <link rel="stylesheet" type="text/css" href="../Style/style.css">
</head>
<body>
    <div id="container">
        <div id="action-bar">
            <div class="button" onclick="foo()"></div>
            <div class="button"></div>
            <div class="button"></div>
        </div>
        <div id="title-bar">
            받은 메일함
        </div>
        <div id="content">
            <li id="content-list"></li>
        </div>
    </div>
</body>
</html>