<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="selecttemplate.js"></script>
  <link rel="stylesheet" type="text/css" href="../Style/style.css">
</head>
<body class="asset-background" >
<div id="container-outer">
  <div id="container-middle">
    <div id="container-inner">
      <div class="big left" id="content">
        <span class="title">사용할 템플릿 선택</span>
        <div class="body">
          <ul class="content-list" id="template-list">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="loading">
  <div id="loading-middle">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
</div>
<div id="title-bar">
  <div id="title-bar-body"></div>
</div>
</body>
</html>